<p>login works!</p>
<div class="login_container_template">
  <div class="buttons_container">
    <nav>
      <ul>
        <li>
          <a
            routerLink="/createUser"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Create user</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login_container">
      <label for="uname"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="uname"
        required
        formControlName="username"
      />

      <label for="psw"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        required
        formControlName="password"
      />
      <div>
        <button type="submit">
          <a routerLink="/forgotPassword">Forgot password</a>
        </button>
        <button type="submit">Login</button>
      </div>
    </div>
  </form>
</div>
