<p>login works!</p>
<div class="login_container_template">
  <div>
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container"></div>

          <div class="example-button-container">
            <a mat-fab extended>
              <mat-icon>favorite</mat-icon>
              <a routerLink="/forgotPassword">Forgot password</a>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login_container">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
      </mat-form-field>
      <p>Test dummy data</p>
      <div>
        <button mat-flat-button>
          <a routerLink="/forgotPassword">Forgot password</a>
        </button>
        <button mat-flat-button type="submit">Login</button>
      </div>
    </div>
  </form>
</div>
