<p>reset-password works!</p>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input
      formControlName="newPassword"
      type="password"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="password"
    />
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!resetPasswordForm.valid"
  >
    Send
  </button>
</form>
@if(successMessage) {
<div class="alert alert-success" role="alert">
  {{ successMessage }} for {{ currentUser }}
</div>
<div>
  Please go back to login page:
  <a routerLink="">Login</a>
</div>
}
